<div class="container vh-100 d-flex justify-content-center align-items-center">
	<div class="d-flex flex-column align-items-center justify-content-center text-center">
    <h2 class="display-1 text-white">Hi, I'm Mark!</h2>
    <button class="btn btn-light btn-lg my-5" onclick="showAbout()">About Me</button>
	</div> 
</div>
