<div class="container vh-100 d-flex justify-content-center align-items-center">
  <div id="services">
    <h2 class="display-1 text-white text-center">Services</h2>
		<div class="services-container">			
			<nav class="navigation-bg-transparent">
				<div class="nav nav-tabs" id="nav-tab" role="tablist">
					<button class="nav-link active services-tabs" id="nav-service1-tab" data-bs-toggle="tab" data-bs-target="#nav-service1" type="button" role="tab" aria-controls="nav-service1" aria-selected="true">Service0</button>
					<button class="nav-link services-tabs" id="nav-service2-tab" data-bs-toggle="tab" data-bs-target="#nav-profile" type="button" role="tab" aria-controls="nav-service2" aria-selected="false">Service1</button>
					<button class="nav-link services-tabs" id="nav-service3-tab" data-bs-toggle="tab" data-bs-target="#nav-contact" type="button" role="tab" aria-controls="nav-service3" aria-selected="false">Service2</button>
					<button class="nav-link services-tabs" id="nav-service4-tab" data-bs-toggle="tab" data-bs-target="#nav-contact" type="button" role="tab" aria-controls="nav-service4" aria-selected="false">Service3</button>
					<button class="nav-link services-tabs" id="nav-service5-tab" data-bs-toggle="tab" data-bs-target="#nav-contact" type="button" role="tab" aria-controls="nav-service5" aria-selected="false">Service4</button>
				</div>
			</nav>
			<div class="tab-content" id="nav-tabContent">
				<div class="tab-pane fade show active fs-2 bg-light p-5" id="nav-service1" role="tabpanel" aria-labelledby="nav-service1-tab">Service Description Here</div>
				<div class="tab-pane fade fs-2 bg-light p-5" id="nav-service2" role="tabpanel" aria-labelledby="nav-service2-tab">Service Description Here</div>
				<div class="tab-pane fade fs-2 bg-light p-5" id="nav-service3" role="tabpanel" aria-labelledby="nav-service3-tab">Service Description Here</div>
				<div class="tab-pane fade fs-3 bg-light p-5" id="nav-service4" role="tabpanel" aria-labelledby="nav-service4-tab">Service Description Here</div>
				<div class="tab-pane fade fs-2 bg-light p-5" id="nav-service5" role="tabpanel" aria-labelledby="nav-service5-tab">Service Description Here</div>
			</div>
		</div>
		<div class="my-3">
			<label for="exampleFormControlInput1" class="form-label display-5 text-white">Email address</label>
			<input type="email" class="form-control" id="exampleFormControlInput1" placeholder="name@example.com">
		</div>
		<div class="mb-3">
			<label for="exampleFormControlTextarea1" class="form-label display-5 text-white">Example textarea</label>
			<textarea class="form-control" id="exampleFormControlTextarea1" rows="3"></textarea>
		</div>
	</div>  
</div>
