// Import your components CSS files here.
@import "alert";
@import "avatar";
@import "banner";
@import "button";
@import "cards";
@import "form_legend_clear";
@import "navbar";
@import "nav";
@import "timeline";
@import "projects";
@import "services";

// client colors
.marc-color-1 { background-color: #161F99; }
.marc-color-2 { background-color: #273DB4; }
.marc-color-3 { background-color: #FF7936; }
.marc-color-4 { background-color: #C6431C; }
.marc-color-5 { background-color: #78594C; }
.marc-color-6 { background-color: #CFA25B; }
.marc-color-7 { background-color: #80C0FA; }
.marc-color-8 { background-color: #FEB400; }
.marc-color-9 { background-color: #FA591D; }
