.navigation-bg-transparent {
    background-color: rgba(255, 255, 255, 0.2); // Transparent white background
    backdrop-filter: blur(10px); // Optional: adds a blur effect
}

.nav-pills .nav-link.active {
    color: #000; // Black text for the active tab
    background-color: #ffffff; // White background for active tab
}

.nav-pills .nav-link {
		color: #000;
}

#pills-tabContent {
    transition: background-color 0.5s ease;
}

