// Define variables for your color scheme

// For example:
$red: #FD1015;
$blue: #0D6EFD;
$yellow: #FFC65A;
$orange: #E67E22;
$green: #1EDD88;
$dark-gray: #0E0000;
$gray: #868686;
$light-gray: #F4F4F4;
$white: #ffffff;

// Client Colors
$marc-color-1: #161F99;
$marc-color-2: #273DB4;
$marc-color-3: #FF7936;
$marc-color-4: #C6431C;
$marc-color-5: #78594C;
$marc-color-6: #CFA25B;
$marc-color-7: #80C0FA;
$marc-color-8: #FEB400;
$marc-color-9: #FA591D;
